.cross {
    display: none;
}


.nav {
    list-style: none;
    display: flex;
    justify-content: space-between;
}

.new_nav {
    list-style: none;
    display: block;
}


@media only screen and (max-width: 768px) {

    .cross {
        display: contents;
    }


    nav{
        align-items: flex-start;
    }

    .nav {
        display: none;
    }



}